defusedxml==0.5.0
Django==1.10.6
django-allauth==0.31.0
django-braces==1.11.0
django-oauth-toolkit==0.12.0
django-rest-auth==0.9.1
django-rest-framework-social-oauth2==1.0.5
djangorestframework==3.6.2
PyJWT==1.4.2
python-social-auth==0.3.6
python3-openid==3.1.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
click==6.7
djangorestframework-xml==1.3.0
get==0.0.0
Jinja2==2.9.5
livereload==2.5.1
Markdown==2.6.8
MarkupSafe==1.0
mkdocs==0.16.2
oauthlib==2.0.2
post==0.0.0
public==0.0.0
PyYAML==3.12
query-string==0.0.0
request==0.0.0
setupfiles==0.0.0
simplejson==3.10.0
tornado==4.4.2
urlopen==1.0.0
xmljson==0.1.7
xmltodict==0.10.2
